@media screen and (max-width: 480px) {
  body {
    max-width: 95%;
    font-size: 100%;
  }
}

@media screen and (min-width: 480px) {
  body {
    max-width: 85%;
  }
}

@media screen and (min-width: 550px) {
  body .intro {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 1000px) {
  .papers content {
    flex-basis: 80%;
    margin: 0.2em 0em;
  }
  links {
    margin-top: 0em;
  }  
}

@media screen and (min-width: 1000px) {
  body {
    max-width: 740px;
  }
  body header {
    flex-direction: row;
  }
  body .papers {
    flex-direction: row;
  }
  .papers content {
    flex-basis: 78%;
    margin: 0.8em 0em;
  }  
  links {
    margin-top: 0.55em;
  }  
}

body {
  font-family: 'URWClassico', sans-serif;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em
}

newcommand {
  display: none;
}

/* Default color of mathjax text */
mjx-container * {
  color: #000000c2;
}

* a {
  text-decoration: none;
}

* a:hover {
  text-decoration: underline;
}

* a:focus {
  outline: none;
}

h1, h2, h3, h4 {
  font-family: 'URWClassico', sans-serif;
  font-weight: lighter;
}

p {
  font-family: 'URWClassico', sans-serif;
  font-weight: lighter;
}

ul {
  padding-left: 1em;
}

ol {
  padding-left: 1em;
}

ol li {
  padding-left: 0.5em;
}

ol li ol li {
  list-style-type: lower-alpha;
}

.classplan table {
  text-align: left;
  border-collapse: collapse;
}

.classplan table th, .classplan table td {
  padding: 0.5em;
  border-top: 0.1em solid;
  border-bottom: 0.1em solid;
}

.papers {
  padding: 0em;
  margin: 0em;
  border-top: dotted 0.05em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.papers>content>paperHead {
  cursor:pointer;
  display: block;
  font-weight: lighter;
}

.papers>content>p {
  padding: 0em;
  margin: 0em 0em;
  text-align: justify;
  font-weight: bold;
}

.papers>content>em {
  font-size: 95%;
  font-weight: lighter;
}

.papers>content>paperHead>p {
  padding: 0em;
  margin: 0em 0em;
  font-weight: bold;
}

.papers>content>paperHead>em {
  font-size: 95%;
  font-weight: lighter;
}

.papers>content>div.abstract {
  max-height: 0px;
  transition: max-height 0.14s ease-out;
  overflow: hidden;
}

.papers div.abstract>p {
  font-size: 93%;
  margin-block-start: 0.25em;
  margin-block-end: 0em;
  text-align: justify;
  font-family: 'URWClassico', sans-serif;
}

.papers div.abstract>p:not(:first-child) {
  text-indent: 20px;
  margin-block-start: 0em;
}

.papers div.abstract abstractTit {
  font-weight: bold;
  font-size: 90%;
}

.papers links a {
  font-size: 93%;
}

.bibliography table {
  text-align: left;
  border-collapse: collapse;
}

.bibliography table th, .bibliography table td {
  padding: 0.5em;
}

.infotable table {
  padding-top: 0.5em;
  border-collapse: collapse;
}

.infotable table th, .infotable table td {
  padding: 0.1em 0.5em;
}

.infotable table td:first-child {
  font-weight: bold;
  text-align: right;
}

.bibliography table td:last-child, footer {
  font-size: 80%;
}

header {
  font-family: 'URWClassico', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0em;
  margin-bottom: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

header h1 {
  font-family: 'URWClassico', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0em;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  padding-left: 0em;
  margin: 0.5em 0em;
}

nav li {
  display: inline;
  list-style-type: none;
  margin: 0em;
  text-align: left;
}

nav li:not(:first-child) {
  padding-left: 0.5em;
}

nav li:not(:last-child) {
  padding-right: 0.5em;
}

footer {
  right: 10px;
  bottom: 20px;
  border-top: 0.1em dotted;
  margin-top: 9em;
  padding-top: 0.3em;
  text-align: right
}

#mypicture {
  width: 15em;
}

@media screen and (min-width: 960px) {
  #mypicture {
    width: 16em;
  }
}

@media screen and (max-width: 480px) {
  #mypicture {
    margin-left: 0;
  }
}

.clearfix {
  float: none;
  clear: both;
}

* {
  color: #000;
}

body {
  background-color: #f0f1f4;
}

body ::-moz-selection {
  background-color: #c50b0b;
  color: #f0f1f4;
}

body ::-selection {
  background-color: #c50b0b;
  color: #f0f1f4;
}

a, a:active, a:visited {
  color: #0047a3;
}

code {
  color: #d33682;
  font-size: 120%;
}

h1, h2, h3, h4, h5, h6 {
  color: #c50b0b;
}

h1 a, h1 a:active, h1 a:visited, h2 a, h2 a:active, h2 a:visited, h3 a, h3 a:active, h3 a:visited, h4 a, h4 a:active, h4 a:visited, h5 a, h5 a:active, h5 a:visited, h6 a, h6 a:active, h6 a:visited {
  color: #c50b0b;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  background-color: #f0f1f4;
  text-decoration: none;
}

h3 {
  font-size: 1.2em;
}

header a, header a:active, header a:visited {
  color: #000;
}

header a.active {
  color: #c50b0b;
}

header a:hover {
  color: #c50b0b;
  background-color: #f0f1f4;
  text-decoration: none;
}

footer {
  color: #93a1a1;
  border-color: #93a1a1;
}

footer a, footer a:active, footer a:visited {
  color: #1ca99e;
}

.papers ul {
  background: #f0f1f4;
}

.bibliography table tbody>tr:nth-child(odd), .classplan table tbody>tr:nth-child(odd) {
  background: #f0f1f4;
}

.infotable table {
  background: #f0f1f4;
}

@media print {
  footer, nav {
    display: none;
  }
  width: 100%;
  margin: 0px;
  padding: 0px;
  a:after {
    content: " '(' attr(href) ') '";
  }
  * {
    color: #000;
  }
  body {
    background-color: #fff;
  }
  body ::-moz-selection {
    background-color: #000;
    color: #fff;
  }
  body ::-selection {
    background-color: #000;
    color: #fff;
  }
  code {
    color: #000;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #000;
  }
  h1 a, h1 a:active, h1 a:visited, h2 a, h2 a:active, h2 a:visited, h3 a, h3 a:active, h3 a:visited, h4 a, h4 a:active, h4 a:visited, h5 a, h5 a:active, h5 a:visited, h6 a, h6 a:active, h6 a:visited {
    color: #000;
  }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    background-color: #fff;
    text-decoration: none;
  }
  header a, header a:active, header a:visited {
    color: #000;
  }
  header a.active {
    color: #000;
  }
  header a:hover {
    color: #000;
    background-color: #fff;
    text-decoration: none;
  }
  footer {
    color: #000;
    border-color: #000;
  }
  footer a, footer a:active, footer a:visited {
    color: #000;
  }
  .papers ul {
    background: #fff;
  }
  .bibliography table tbody>tr:nth-child(odd), .classplan table tbody>tr:nth-child(odd) {
    background: #fff;
  }
  .infotable table {
    background: #fff;
  }
  #mypicture {
    border-color: #000;
  }
}