@font-face {
    font-family: 'URWClassico';
    src: url('/assets/fonts/URWClassico-BolIta.woff2') format('woff2'),
        url('/assets/fonts/URWClassico-BolIta.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'URWClassico';
    src: url('/assets/fonts/URWClassico-Bol.woff2') format('woff2'),
        url('/assets/fonts/URWClassico-Bol.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'URWClassico';
    src: url('/assets/fonts/URWClassico-Ita.woff2') format('woff2'),
        url('/assets/fonts/URWClassico-Ita.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'URWClassico';
    src: url('/assets/fonts/URWClassico-Reg.woff2') format('woff2'),
        url('/assets/fonts/URWClassico-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


